{% extends 'commonheader.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About Us</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-20">
				<h2 class="mb-3">How customer service chatbots are redefining customer experience</h2>
				<p>Artificial intelligence (AI) is radically redefining the customer support landscape. From automated messages to visual search, AI customer service chatbots allow companies to better support their customers’ needs at more touch points along their journey.</p>
				<p>As more consumers have moved online – driven in large part by the pandemic – businesses have had to radically transform their customer experience. AI chatbots have really risen to prominence since March 2020, providing 24/7 support, and automatically resolving questions without any human intervention.</p>
				<p>A customer service chatbot is a bot that uses AI and machine learning to answer basic customer questions via a business messenger. For example, questions such as; “how do I add more users?” or “what is your pricing?”.
				</p>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<img loading="lazy" class="img-fluid" src="/static/images/Pic3.png" alt="">
			</div>
		</div>
	</div>
</section>

</body>
</html>
{% endblock %}